<!DOCTYPE html>
<html>
  <head>
    <title>Lambic</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= stylesheet_pack_tag    'application', media: 'all' %>
    <%= yield %>
  </body>
</html>
